div {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    padding-top: 100px;
}

header {
    padding: 10px 0px 101px 10px ;
    margin: 10px 200px 10px 200px;
}

img {
    width: 200px;
    float: left;
    }

